.signin-button{
    width: 30vh;
    height: 7vh;
    color:white;
    background-color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    &:hover{
        color:black;
        background-color: white;
        transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1); 
        border: 1px solid black;
    }
}

.signin-button-google{
    width: 30vh;
    height: 7vh;
    color:white;
    background-color: rgb(165, 4, 4);
    border: none;
    cursor: pointer;
    margin-left:5px;
}