.menu-item{
    text-align: center;
    line-height: 1.5em;
    background-size: cover;
    background-origin: content-box;
    background-position: center;
    background-blend-mode: darken;
    cursor: pointer;
    // border: black 1px solid;
}
.content{
    color: white;
    padding-top:50px;
    font-family: 'Open Sans', sans-serif;
    // border:1px solid black;
    position: relative;
    margin:20px;
    background: rgba($color: #000000, $alpha: 0.3);
}
.menu-item:last-child{
    grid-area: w;
    height:380px;

    .content{
        padding: 100px;
        margin-top:40px;
    }
}
.menu-item:nth-child(4){
    grid-area: m;
    height:380px;

    .content{
        padding: 100px;
        margin-top:40px;
    }
}
.menu-item:first-child{
    grid-area: c;
}
.menu-item:nth-child(2){
    grid-area: s;
}
.menu-item:nth-child(3){
    grid-area: j;
}


// subtile
