.form-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    

    .signin{
        padding: 50px;
        width: 80vh;
    }

    .signup{
        padding: 50px;
        width: 80vh;
    }
}